body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: hsl(0, 0%, 98%);
    position: relative;
    font-size: 15px;
    box-sizing: border-box;
}


.header {
    white-space: nowrap;
}

.head-txt {
    font-size: 32px;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
    text-align: center;
    /* margin: auto */
}

.head-txt span {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.head-text {
    color: hsl(229, 6%, 66%);
    text-align: center;
}


.cont{
    border: none;
    border-radius: 10px;
    height: 200px;
    width: 350px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    padding: 20px;
    margin: 18px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 06px 6px rgba(0,0,0,0.1);
}

.pos{
    right: 0;
    bottom: 0;
    position:absolute;
    padding: 15px;
}

h3{
    color: hsl(234, 12%, 34%);
    font-size: 1.2rem;
}

p{
    color: hsl(229, 6%, 66%);
}

.cont::after{
    content: '';
    position: absolute;
    height: 4.5px;
    width:100%;
    top: 0;
    left: 0;
}

.cont-red::after{
    background-color:  hsl(0, 78%, 62%);
}

.cont-cyan::after{
        background-color:hsl(180, 62%, 55%);
}

.cont-orange::after{
    background-color: hsl(34, 97%, 64%);
}

.cont-blue::after{
    background-color: hsl(212, 86%, 64%);
}

.main-content{
    margin:30px;
    display: grid;
    grid-template-columns:repeat(4, 325px);
    column-gap: 100px;
}

.supervisor{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    
}

.t-builder{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}



.karma{
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.calculator{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}


.down{
    transform: translateY(50%);
}


  